<div class="float-right">
    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#about">
        <#LANG_ABOUT#>&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign icon-white"></span>
    </button>
</div>
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">RHVoice</h4>
            </div>
            <div class="modal-body">
                <p> Модуль RHVoice.<br>
                    Обсуждение модуля <a href="http://majordomo.smartliving.ru/forum/viewtopic.php?p=31396" target="_blank">здесь</a>.<br>
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li [#if VIEW_MODE=="app_rhvoice" || VIEW_MODE==""#]class="active"[#endif#]><a href="?view_mode=app_rhvoice"><#LANG_SETTINGS#></a></li>
    <li [#if VIEW_MODE=="help"#]class="active"[#endif#]><a href="?view_mode=help"><#LANG_HELP#></a></li>
</ul><br>

[#if VIEW_MODE="app_rhvoice" || VIEW_MODE=""#]
[#inc settings.html#]
[#endif VIEW_MODE#]

[#if VIEW_MODE="help"#]
[#inc help.html#]
[#endif VIEW_MODE#]